* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

h1{
    font-family: 'Belanosima', sans-serif;
    font-weight: lighter;
    font-size: 700; 
    padding: 15px 0px;
}


nav{
    display: flex ;
    align-items: center;
    margin-bottom: 8px;
}

input{
    margin: 5px 0px;
}

input::placeholder { 
    color: white; 
}

input:focus , select:focus{
    outline: silver;
}

.hidden{
    display: none;
}

.buttons{
    display: flex;
    font-family: 'Belanosima', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    padding: 8px;
    margin-bottom: 5px;
    margin: 0px 8px;
    background-color: black;
    border: none;
    color: white;
}

.buttons:hover{
    cursor: pointer;
    background-color: grey;
    border-radius: 4px;
}

.fa-image, .fa-a , .fa-lightbulb {
    margin: 0px 5px;
    font-size: 15px;
}

span{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    margin-left: 5px;
}



/* MAIN CONTAINER */


.main-container {
    display: flex;
    justify-content: center;
    background-color:grey;
}


.meme-container {
    height: 70vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.meme-img {
    width: 100%;
    display: flex;
    flex-grow: 1;
    background-color: black;
    background-size: cover;
    background-repeat: "no-repeat";
    background-position: "center";
}

.top-text , .bottom-text{
    width: 100%;
    height: 15%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    background-color: white;
    padding: 38px 50px;
    font-size: 30px;
    text-align: center;
}

/* MAIN CONTAINER */

.aside{
    width: 17%;
    height: 100%;
    background-color: #2C3333;
    padding: 30px 15px;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
}

/* ASIDE IMAGE */

h3{
    display: flex;
    
    justify-content: center;
    font-family: 'Belanosima', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    align-items: center;
    margin-bottom: 15px;
}

h5{
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    margin: 8px 0px;

}

.label-filters-input-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: white;
    margin-top: 5px;
}


.input-color {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    margin: 2px 5px;
}

.input-color::-webkit-color-swatch,
.input-color::-webkit-color-swatch-wrapper {
    border-radius: 100%;
    border: none;
    padding: 0;
}

.background-filters{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.container-color{
    width: 100%;
    background-color:grey ;
    display: flex;
    align-items: center;
    border-radius: 5px ; 
    padding: 3px 5px;
    margin-right: 10px;
}

select{
    border: none;
    background-color:  grey ;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px ; 
    padding: 7px;
}

input[type=range]{
    accent-color: grey;
    border-radius: 5px;
}

option {
    color: white;
    background-color: grey;
}

.reset{
    width: 50%;
    padding: 8px 0px;
    border-radius: 5px;
    color: white;
    background-color: grey;
    border: none;
    cursor: pointer;
    margin: 20px 0px;
}

.reset:hover{
    background-color: rgb(149, 145, 145);
}

/* ASIDE TEXT */

.container-no-top-text , .container-no-bottom-text{
    display: flex;
    margin-top: 4px;
    margin-bottom: 20px;
}

.no-top-text , .no-bottom-text{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    margin-right: 4px;
    color: white;
    font-weight: lighter;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.input-text{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
    color: white;
    border: none;
}

.font-select{
    width: 100%;
    padding: 6px;
}

.font-container{
    display: flex;
    width: 100%;
    margin: 5px 0px;
    justify-content: space-between;
    align-items: center;
}

.container-bottom-aling{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.bottom-aling{
    padding: 5px 10px;
    margin: 0px 5px;
}

.bottom-aling:hover{
    cursor: pointer;
    background-color: #b9c0c0;
}

.color-background{
    display: flex;
    justify-content: space-around;
    margin: 0px ;
    width: 100%;
}

.container-color-text , .container-background-text{
    width: 100%;
    margin: 0px 5px;
}

.title-color-text{
    color: white;
    background-color: #2C3333;
}

.container-button-contour{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-contour{
    color: white;
    background-color: gray;
    padding: 8px 15px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}

.button-contour:hover{
    cursor: pointer;
    background-color: #b9c0c0;
}

.spacing{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
    color: white;
    border: none;
}

/* MODE LIGTH */

.main-container-light {
    background-color: antiquewhite;
    color: black;
}

.light-aside{
    background-color: blanchedalmond;
    color: black;
}

.header-light{
    background-color: antiquewhite;
    color: black;
}

.light-body{
    background-color: antiquewhite;
    color: black;
}
