* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #3A506B;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0B132B;
    color: white;
}

h1{
    font-family: 'Belanosima', sans-serif;
    font-weight: lighter;
    font-size: 700; 
    padding: 15px 0px;
}


nav{
    display: flex ;
    align-items: center;
    margin-bottom: 8px;
}

input{
    margin: 5px 0px;
}

input::placeholder { 
    color: white; 
}

input:focus , select:focus{
    outline: silver;
}

.hidden{
    display: none;
}


.buttons{
    display: flex;
    font-family: 'Belanosima', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    padding: 8px;
    margin-bottom: 5px;
    margin: 0px 8px;
    background-color: #0B132B;
    border: none;
    color: white;
}

.buttons:hover{
    cursor: pointer;
    background-color: #c0d6df2d;
    border-radius: 4px;
}

.fa-image, .fa-a , .fa-lightbulb {
    margin: 0px 5px;
    font-size: 15px;
}

span{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    margin-left: 5px;
}



/* MAIN CONTAINER */


.main-container {
    display: flex;
    justify-content: center;
    background-color: #3A506B;
}


.meme-container {
    position: relative;
    height: 70vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: black;
    
}

.meme-img {
    width: 100%;
    display: flex;
    flex-grow: 1;
    background-color: black;
    background-size: cover;
    background-repeat: "no-repeat";
    background-position: center;
}

.top-text , .bottom-text{
    width: 100%;
    height: 15%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    position: static;
    display: flex;
    width: 100%;
    height: 16%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    background-color: white;
    font-size: 30px;
}

/* MAIN CONTAINER */

.container-button-download{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.fa-download{
    margin-right: 5px;
}

.download-button{
    font-family: 'Belanosima', sans-serif;
    font-size: 15px;
    background-color: green;
    padding: 15px 25px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.aside{
    width: 17%;
    height: 100%;
    background-color: #1C2541;
    padding: 30px 15px;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
}

/* ASIDE IMAGE */

h3{
    display: flex;
    
    justify-content: center;
    font-family: 'Belanosima', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    align-items: center;
    margin-bottom: 15px;
}

h5{
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    margin: 8px 0px;

}

.label-filters-input-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: white;
    margin-top: 5px;
}


.input-color {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    margin: 2px 5px;
}

.input-color::-webkit-color-swatch,
.input-color::-webkit-color-swatch-wrapper {
    border-radius: 100%;
    border: none;
    padding: 0;
}

.background-filters{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.container-color{
    width: 100%;
    background-color:#3A506B ;
    display: flex;
    align-items: center;
    border-radius: 5px ; 
    padding: 3px 5px;
    margin-right: 10px;
}

select{
    border: none;
    background-color:  #3A506B ;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px ; 
    padding: 7px;
}

input[type=range] {
    background-color: #1C2541;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #3A506B;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #FFFFFF;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3A506B;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #3A506B;
    border-radius: 5px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #FFFFFF;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #3A506B;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #3A506B;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #FFFFFF;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3A506B;
}

input[type=range]:focus::-ms-fill-upper {
    background: #3A506B;
}

.reset{
    width: 50%;
    padding: 8px 0px;
    border-radius: 5px;
    color: white;
    background-color: #3A506B;
    border: none;
    cursor: pointer;
    margin: 20px 0px;
}

.reset:hover{
    background-color: #c0d6df2d;
}

/* ASIDE TEXT */

.container-no-top-text , .container-no-bottom-text{
    display: flex;
    margin-top: 4px;
    margin-bottom: 20px;
}

.no-top-text , .no-bottom-text{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    margin-right: 4px;
    color: white;
    font-weight: lighter;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.input-text{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #3A506B;
    color: white;
    border: none;
}

.font-select{
    width: 100%;
    padding: 6px;
}

.font-container{
    display: flex;
    width: 100%;
    margin: 5px 0px;
    justify-content: space-between;
    align-items: center;
}

.container-bottom-aling{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.bottom-aling{
    padding: 5px 10px;
    margin: 0px 5px;
}

.bottom-aling:hover{
    cursor: pointer;
    background-color: #c0d6df2d;
}

.color-background{
    display: flex;
    justify-content: space-around;
    margin: 0px ;
    width: 100%;
}

.container-color-text , .container-background-text{
    width: 100%;
    margin: 0px 5px;
}

.title-color-text{
    color: white;
}

.container-button-contour{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-contour{
    color: white;
    background-color: #3A506B;
    padding: 8px 15px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}

.button-contour:hover{
    cursor: pointer;
    background-color: #c0d6df2d;
}

.spacing{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #3A506B;
    color: white;
    border: none;
}

/* MODE LIGTH */

.light-body , .main-container-light{
    background-color: #dbe9ee81;
    color: black;
}

.header-light, .light-buttons {
    background-color: #c0d6df96;
    color: black;
}

.light-aside{
    background-color: #b8d5f38d;
    color: black;
}

.inputs-light{
    background-color:  #4f6d7a3f ;
    color: black;
}

.labes-filters{
    color: black;
}

.ranges-inputs-filters{
    accent-color: #0B132B;
    border-radius: 5px;
}
